@{
    ViewData["Title"] = "Головна";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Ведення фінансового обліку малого бізнесу</h1>
        <p class="lead">Автоматизований розрахунок податків та зручне управління фінансами</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body text-center">
                    <h5 class="card-title">📊 Облік доходів та витрат</h5>
                    <p class="card-text">Додавайте операції, відстежуйте прибутки та контролюйте витрати.</p>
                    @if (Context.Session.GetString("Username") != null)
					{
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary px-3">Перейти</a>
					}
					else
					{
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-primary px-3">Увійти</a>
					}

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body text-center">
                    <h5 class="card-title">💰 Продаж товарів</h5>
                    <p class="card-text">Легко відстежуйте наявність та продаж ваших товарів.</p>
                    @if (Context.Session.GetString("Username") != null)
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary px-3">До товарів</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-primary px-3">Увійти</a>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body text-center">
                    <h5 class="card-title">📑 Звіти та аналітика</h5>
                    <p class="card-text">Формуйте фінансові звіти та аналізуйте розвиток бізнесу.</p>
                    @if (Context.Session.GetString("Username") != null)
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary px-3">Переглянути</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-primary px-3">Увійти</a>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
