@model BusinessFinancialAccounting.Models.User

@{
    ViewData["Title"] = "Вхід";
}

<div class="d-block mx-auto my-3 p-3" style="max-width: 500px">
    <h2 class="text-center my-3">Вхід</h2>

    <form asp-action="Login" method="post">
        <fieldset class="border rounded-3 p-3 mb-4">
            <legend class="float-none w-auto px-2 fs-5">Дані користувача</legend>
        <div class="mb-3">
            <label class="form-label">Логін:</label>
            <input asp-for="Username" name="username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Пароль:</label>
            <input name="password" type="password" class="form-control" />
        </div>
        </fieldset>
        <button class="btn btn-primary w-100" type="submit">Увійти</button>
        <p class="text-center mt-3 mb-2">Не маєте акаунту?</p>
        <div class="d-flex justify-content-center">
            <a asp-controller="Account" asp-action="Register">Зареєструватись</a>
        </div>
    </form>

    <h4>Або увійдіть через:</h4>

    <a class="btn btn-danger w-100" asp-controller="Account" asp-action="ExternalLogin" asp-route-provider="Google">
        <i class="fab fa-google"></i> Google
    </a>
</div>
