@model BusinessFinancialAccounting.Models.User

<h2>Вхід</h2>

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label class="form-label">Логін:</label>
        <input name="username" />
    </div>
    <div class="mb-3">
        <label class="form-label">Пароль:</label>
        <input name="password" type="password" />
    </div>
    <button class="btn btn-primary" type="submit">Увійти</button>
</form>
