@model BusinessFinancialAccounting.Models.User



<div class="d-block mx-auto my-3 p-3" style="max-width: 500px">
    <h2 class="text-center my-3">Реєстрація</h2>

    <form asp-action="Register" method="post" style="width: 100%">
        <fieldset class="border rounded-3 p-3 mb-4">
            <legend class="float-none w-auto px-2 fs-5">Дані користувача</legend>

            <div class="mb-3">
                <label for="Username" class="form-label">Логін</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label for="FullName" class="form-label">ПІБ</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label for="Password" class="form-label">Пароль</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Підтвердження пароля</label>
                <input name="confirmPassword" type="password" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="Phone" class="form-label">Телефон</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>
        </fieldset>

        <fieldset class="border rounded-3 p-3 mb-4">
            <legend class="float-none w-auto px-2 fs-5">Стартовий капітал</legend>

            <div class="mb-3">
                <label for="cashBalance" class="form-label">Готівка</label>
                <input name="cashBalance" type="number" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="cardBalance" class="form-label">Карта</label>
                <input name="cardBalance" type="number" class="form-control" />
            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary w-100">Зареєструватися</button>
        <p class="text-center mt-3 mb-2">Вже маєте акаунт?</p>
        <div class="d-flex justify-content-center">
            <a asp-controller="Account" asp-action="Login">Увійти</a>
        </div>

    </form>
</div>
